.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}

.screen-header__notification {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  display: inline-flex;
  position: absolute;
  left: 53px;
  bottom: 13px;
}
